{% extends 'manage/_base.html.twig' %}

{% block title %}Import Tags | InsightEngine{% endblock %}

{% block content %}
    <div class="hero border-bottom">
        <div class="hero-titles">
            <h2 class="hero-tagline">
                Processed <span class="completed-count">0</span> of <span class="total_count">{{ tags|length }}</span> new tags
            </h2>
        </div>
    </div>

    <div class="marketing manage-tags marketing-last">
        <div class="content">
            {% if user.isActive() == false %}
                <aside>
                    <p>
                        We're in a beta stage!  Give us a day or so to review your account and approve it in order to
                        proceed with the import.
                    </p>
                </aside>
            {% endif %}

            <p>
                This shouldn't take more than a minute or two.  We've deployed thousands
                of robots to slurp up your Mandrill tag data.  They're very good at what they do.
            </p>
            <p>
                And here's a little entertainment whilst you wait.
            </p>
            <p style="text-align: center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gAYL5H46QnQ" frameborder="0" allowfullscreen></iframe>
            </p>
            <p style="text-align: center;">
                <a class="pure-button pure-button-primary pure-button-disabled" href="javascript://">See my tags!</a>
            </p>
        </div> <!-- .content -->
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var totalTagCount = {{ tags|length }};
            if (totalTagCount == 0) {
                $('.hero-tagline').text("Done importing!");
                $('.pure-button-primary').removeClass('pure-button-disabled').attr('href', '{{ base_url }}/manage/');
            }

            {% for tag in tags %}
                {% if tag.send_count_30_days == null %}
                    InsightEngine_App.ajaxProcessMandrillTag({{ tag.tag_id }}, function() {
                        var element = $('.completed-count');
                        var count = parseInt(element.text());
                        count++;

                        console.log("Incrementing count from " + element.text() + " to " + count);
                        element.text(count);
                        if (count == totalTagCount) {
                            $('.hero-tagline').text("Done importing!");
                            $('.pure-button-primary').removeClass('pure-button-disabled').attr('href', '{{ base_url }}/manage/');
                        }
                    }, false);
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}
